# This file controls what files are ignored from the npm package.

# third-party dependencies
node_modules

# git/github related
.gitignore
.github

# docs folder contains files for README.md
docs

# markdown files are used for documentation
*.md